{%extends 'base.html'%}
{%load static%}


<!-- ------------------------component body--------------------- -->
{%block section%}

<div class="edit-task">
    <div class="edit-heading">Delete Task</div>
  <div class="text-center">Are you sure you want to delete "{{ task.title }}"?</div>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirm Delete</button>
  </form>
    <a class="text-center" href="{{request.META.HTTP_REFERER}}"><div class="text-center">Cancel</div></a>
</div>

{%endblock section%}